* {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  overflow: hidden;
}

.background {
  width: 100%;
  height: auto;
}

.background > img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#greeting {
  font-size: 75px;
}

#login-form,
#greeting {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#weather {
  position: absolute;
  top: 10%;
  left: 90%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 25px;
}

#quote strong div:first-child {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
}

#quote strong div:last-child {
  position: absolute;
  top: 87%;
  left: 50%;
  transform: translate(-50%, 100%);
  color: white;
}

#todo-form {
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
  color: white;
}

#todo-form input {
  width: 200px;
  height: 42px;
  padding-left: 15px;
}

#todo-list {
  position: absolute;
  top: 15%;
  left: 6%;
  color: white;
}

#clock {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 150px;
}

#login-form input,
#todo-form input {
  border: none;
  outline: none;
  border-radius: 3px;
}

#login-form input {
  width: 400px;
  height: 70px;
  text-align: center;
  font-size: x-large;
}

#logout-delete {
  top: 60%;
  left: 50%;
  transform: translate(-50%, 100%);
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
}

#logout-delete img {
  width: 70px;
  height: 70px;
}

.todo-button {
  width: 20px;
  height: 20px;
}
